{% extends 'base.html' %}
{% load static %}
{% block content %}

	<section>
		<div class="container">
			<div class="row">

				<div class="col-sm-3 ">

				</div>
				<div class="col-sm-6">
					    <div id="content">
				<div class="inner">
<h1>Сайттан шығу</h1>
<p>Сіз сайттан сәтті шықтыңыз.	Сіз қайта <a href= "{%url "registration:login"%} " >кіре аласыз</a>.</p>
                </div>
    </div>

				</div>

				<div class="col-sm-3 ">

				</div>
			</div>
		</div>
	</section>
    <br><br>



{% endblock %}
{% block title %}
Шыгу

{% endblock %}